server:
  port: 9000

spring:
  jpa:
    show-sql: true

springdoc:
  api-docs:
    enabled: true

  swagger-ui:
    enabled: true

#logging:
#  level:
#    com.acheron.authserver: DEBUG
#    org.springframework.security: TRACE
#    org.springframework.security.oauth2: TRACE
