server:
  port: 9000

spring:
#  profiles:
#    active: dev

  origins: "http://localhost:5173,http://localhost:3000,https://localhost:5173,https://localhost:3000"

  jpa:
    show-sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true