server:
  port: 9000

spring:

  origins: "http://localhost:5173,http://localhost:3000,https://localhost:5173,https://localhost:3000" # can be removed in production

  jpa:
    show-sql: true

springdoc:
  api-docs:
    enabled: true

  swagger-ui:
    enabled: true

#logging:
#  level:
#    com.acheron.authserver: DEBUG
#    org.springframework.security: TRACE
#    org.springframework.security.oauth2: TRACE
