spring:
  application:
    name: gateway

  profiles:
    active: dev
  security:
    oauth2:
      client:
        provider:
          auth-server:
            issuer-uri: http://localhost:9000

        registration:
          messaging-client-oidc:
            provider: auth-server
            client-id: gateway-client
            client-secret: zxczxczxc
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile, message.read

  cloud:
    gateway:

      server:
        webflux:
          routes:
            - id: auth-server
              uri: http://localhost:9000
              predicates:
                - Path=/login/**, /oauth2/**, /.well-known/**

            - id: resource-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/**
              filters:
                - TokenRelay=

            - id: spa-redirect
              uri: http://localhost:5173
              predicates:
                - Path=/**
              filters:
                - RedirectTo=302, http://localhost:5173
          default-filters:
            - TokenRelay=

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
  data:
    redis:
      host: localhost
      port: 6380
  session:
    data:
      redis:
        namespace: spring:session
        repository-type: default

#logging:
#  level:
#    org.springframework.session: DEBUG
#    org.springframework.data.redis: DEBUG
#    org.springframework.security: DEBUG